node_modules/
dist/
.vercel/
.firebase/
*.local
.env
.env.*
!.env.example

# Editor / OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
firebase-debug.log*
